.profile__edit-button {
    background-image: url(../../../images/profile__edit-button.svg);
    width: 24px;
    height: 24px;
    margin-left: 18px;
    transition: opacity .8s ease-in-out;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}


@media screen and (max-width: 525px) {
    .profile__edit-button {
        margin-left: 10px;
    }
}
