.popup__submit-btn {
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 48px;
    cursor: pointer;
    padding: 14px 0 18px;
    border: none;
    border-radius: 2px;
    transition: background-color .8s ease-in-out;
}

.popup__submit-btn:hover {
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 767px) {
    .popup__submit-btn {
        margin-top: 45px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 0;
    }
}