.footer {
    max-width: 880px;
    width: calc(100% - 48px);
    padding: 0 24px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 0 19px;
        width: calc(100% - 38px);
    }
}